
@{
    ViewData["Title"] = "Locadora";
}
<h1>Bem vindo a locadora !!</h1>
<div class="form-group">
    <a asp-action="Index" class="btn btn-info">Listar filmes</a>
    <a asp-action="Create" class="btn btn-info">Cadastrar novo filme</a>
    <!-- Pequena interface de boas vindas para a página inicial, setada como Locadora -->
</div>

<img src="https://gizmodo.uol.com.br/wp-content/blogs.dir/8/files/2019/03/blockbuster-getty-1000x563.jpg" class="img-fluid" alt="Imagem da Blockbuster">

