@model Filme

@{
    ViewData["Title"] = "Visualizar Filmes";
}

<h4>Visualizando filme @Model.Id </h4>
<hr />


<div class="card" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz_xJp7ToKdWGJXlOlW9MovsAbTNXsW78kGQ&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Cuidado</h5>
        <p class="card-text">Tem certeza que gostaria de excluir?</p>
        <a asp-action="Deletar" asp-route-id="@ViewBag.id" class="btn btn-primary">Sim</a>
        <a asp-action="Index" class="btn btn-primary">Não</a>
    </div>
</div>

<a asp-action="Index">Voltar</a>